# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
dataset/

# Trained model files
*.keras
*.h5
*.hdf5

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
